/* .col-lg-3 {
  border: solid 1px red;
} */

.contact-me {
  min-height: 400px;
  max-height: 450px;
}

.circle-frame {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #2c2d32;
  border: solid 8px #f7f9f9;
}

.circle-frame img {
  max-width: 50px;
}
