@import url(font.css);
@import url(navbar.css);
@import url(landing-page.css);
@import url(about-me.css);
@import url(my-work.css);
@import url(my-skill.css);
@import url(contact-me.css);

/* :root {
  --nav-icon-width: 30px;
} */

body {
  background-color: #2c2d32;
}

/* scroll indicator */
.progress-custom {
  position: fixed;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

.progress-custom ul {
  list-style: none;
  height: 300px;
  width: 30px;
  position: relative;
}

.progress-custom ul li {
  z-index: 3;
}

.non-active-dot {
  display: block;
  background: rgba(246, 174, 45, 0);
  border: 3px solid #f6ae2d;
  text-decoration: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
}

.active-dot {
  display: block;
  background: rgba(246, 174, 45, 1);
  border: 3px solid #f6ae2d;
  text-decoration: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
}

.line {
  position: absolute;
  top: 35px;
  left: 41px;
  /* transform: translateY(-50%); */
  /* z-index: 2; */
  width: 2px;
  height: 0px;
  background: #f6ae2d;
}

/* splash screen */
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  text-align: center;
  color: #fff;
  z-index: 10;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  text-align: center;
  color: #fff;
  line-height: 90vh;
  z-index: -10;
  /* transition: all 0.5s; */
}

.splash h1:nth-child(1) {
  position: absolute;
  z-index: 11;
}
.splash h1:nth-child(2) {
  position: absolute;
  z-index: 12;
}
.splash h1:nth-child(3) {
  position: absolute;
  z-index: 13;
}
.splash h1:nth-child(4) {
  position: absolute;
  z-index: 14;
}

@keyframes fadeIn {
  50% {
    opacity: 1;
  }
}

.fade-in:nth-child(1) {
  opacity: 0;
  animation: fadeIn 0.3s;
}

.fade-in:nth-child(2) {
  opacity: 0;
  animation: fadeIn 0.3s;
  animation-delay: 0.3s;
}

.fade-in:nth-child(3) {
  opacity: 0;
  animation: fadeIn 0.3s;
  animation-delay: 0.6s;
}
.fade-in:nth-child(4) {
  opacity: 0;
  animation: fadeIn 0.3s;
  animation-delay: 0.9s;
}
/* footer */
footer {
  font: 600 14px Exo, sans-serif;
  background-color: #000000;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 5px;
}
