@import url(font.css);
@import url(navbar.css);
@import url(landing-page.css);
@import url(about-me.css);
@import url(my-work.css);
@import url(my-skill.css);
@import url(contact-me.css);

/* :root {
  --nav-icon-width: 30px;
} */

body {
  background-color: #2c2d32;
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 5px;
}
